{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="form-page">
    <a class="back" href="{% url 'all-clients' %}">&larr; Back to clients</a>
    <div class="form-card">
        <h1>Edit Client</h1>
        <form action="{% url 'edit-client' client.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if field.errors %}
                <div style="color: red;">{{ field.errors }}</div>
            {% endif %}
            <input type="submit" value="Save">
        </form>
    </div>
</div>
{% endblock content %}