<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Employee-Management-Home</title>
</head>
<body>
    <div>
        <div class="logo"></div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Mark Attendance</a></li>
            <li><a href="#">Sheets</a>
                <ul>
                    <li><a href="#">Attendance Sheet</a></li>
                    <li><a href="#">Salary Sheet</a></li>
                    <li><a href="#">Salary Slip</a></li>
                </ul>
            </li>
        </ul>
    </div>
    {% block content %}
    {% endblock content %}

    <footer>
        Developed by-Nexora
    </footer>
</body>
</html>