<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Company Name</h2>
        <div>
            <p>Address: Street 32 Jaipur Rajasthan</p>
            <p>----------- Pay Slip ----------------------------------------------------</p>
        </div>
        <table>
            <tr>
                <td>Employee Name: {{ employee.employeeName }}</td>
                <td>Employee ID : {{ employee.employeeID }}</td>
            </tr>
        </table>
    </div>
</body>
</html>