<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>    
    <h2>All Employees</h2>
    <table border="1">
        <thead>
            <tr style="padding: 2px;">
                <th>Employee ID</th>
                <th>Name</th>
                <th>Attendance</th>
                <th>Designation</th>
                <th>Basic Pay(a)</th>
                <th>HRA(b)</th>
                <th>Allowance(c)</th>
                <th>Total(a+b+c)</th>
                <th>PF(d)</th>
                <th>ESI(e)</th>
                <th>Deductions(d+e)</th>
                <th>Net Salary(total-deductions)</th>
                {% comment %} <th colspan="2">Actions</th> {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.employeeID }}</td>
                <td>{{ employee.employeeName }}</td>
                <td>{{ employee.salary.attendance }}</td>
                <td>{{ employee.designation }}</td>
                <td>{{ employee.salary.claculatedBasic }}</td>
                <td>{{ employee.salary.calculatedHRA }}</td>
                <td>{{ employee.salary.calculatedAllowance }}</td>
                <td>{{ employee.salary.totalA }}</td>
                <td>{{ employee.salary.calculatedPF }}</td>
                <td>{{ employee.salary.calculatedESI}}</td>
                <td>{{ employee.salary.deductions }}</td>
                <td>{{ employee.salary.netPay }}</td>
                {% comment %} <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td> {% endcomment %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No salary records</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>